<div class="header">
    <div class="top-line">
        <div class="top-line1">
            <a href="/" class="logo" style="background:url(/themes/hodor/public/images/logo.png?v=<%- page.ver %>) no-repeat;background-size: auto 100%;">Logo</a>
            <div class="top-menu2"><span></span></div>
            <ul class="reset top-menu">
                <li>
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>"><%- page.l.movies %></a>
                    <span style="width:362px;">
                        <em>
                            <% page.urls.genres.slice(0,15).forEach(function(genre) { %>
                            <a href="<%- genre.url %>">
                                <%- genre.title %>
                            </a>
                            <% }); %>
                        </em>
                        <em>
                            <% page.urls.genres.slice(15,23).forEach(function(genre) { %>
                            <a href="<%- genre.url %>">
                                <%- genre.title %>
                            </a>
                            <% }); %>
                            <% page.urls.years.slice(0,5).forEach(function(year) { %>
                            <a href="<%- year.url %>">
                                <%- year.title %>
                            </a>
                            <% }); %>
                            <a href="/<%- page.urls.content %>?tag=<%- page.l.collections %>"><%- page.l.collections %></a>
                            <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>"><%- page.l.top %> <%- page.l.movies %></a>
                        </em>
                    </span>
                </li>
                <li><a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=premiere-up"><%- page.l.premieres %></a></li>
                <li> <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>"><%- page.l.series %></a></li>
                <li><a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>"><%- page.l.cartoons %></a></li>
                <li> <a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>"><%- page.l.anime %></a></li>
                <li><a href="/<%- page.urls.type %>/<%- page.urls.types.tv %>"><%- page.l.tv %></a></li>
                <li>
                    <a href="javascript:void(0)"><%- page.l.top %></a>
                    <span>
                        <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=kinopoisk-rating-up"><%- page.l.rating %> <%- page.l.kp %></a>
                        <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=imdb-rating-up"><%- page.l.rating %> <%- page.l.imdb %></a>
                        <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=kinopoisk-vote-up"><%- page.l.popular %>  <%- page.l.kp %></a>
                        <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=imdb-vote-up"><%- page.l.popular %>  <%- page.l.imdb %></a>
                        <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>?sorting=imdb-vote-up"><%- page.l.top %> <%- page.l.series %></a>
                        <a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>?sorting=imdb-vote-up"><%- page.l.top %> <%- page.l.cartoons %></a>
                        <a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>?sorting=imdb-vote-up"><%- page.l.top %> <%- page.l.anime %></a>
                    </span>
                </li>
            </ul>

            <a href="javascript:void(0)" class="top-see-all continueViewingBlock" id="continueViewing" style="display: none;">
                <svg viewBox="83.1 54.3 61.5 73.1"><polygon points="83.1,54.3 83.1,127.4 144.7,90.9"/></svg>
                <span><%- page.l.continue %>?</span>
            </a>

            <div class="randomMovieMenu">
                <a href="/?random" class="top-see-all cinemapress-random-menu">
                    <img src="/themes/hodor/public/images/dice.svg" alt="<%- page.l.lucky %>">
                    <span><%- page.l.lucky %></span>
                </a>
            </div>

            <div class="top-search">
                <div class="top-search1">
                    <svg viewBox="50.8 50 19.6 20.7">
                        <path d="M59.5,50c0.1,0,0.1,0,0.2,0c1.7,0,3.3,0.5,4.7,1.5c1.7,1.2,2.9,2.9,3.4,4.9C68,57.1,68,58,68,58.8c-0.1,1.6-0.6,3.1-1.6,4.4c-0.1,0.1-0.2,0.2-0.3,0.4c-0.1,0.1-0.1,0.1-0.2,0.2l0,0c1.4,1.3,2.8,2.6,4.1,3.9c0.4,0.4,0.4,1,0,1.4c-0.4,0.4-0.9,0.9-1.3,1.3c-0.3,0.3-0.9,0.4-1.2,0.1c-0.1,0-0.1-0.1-0.2-0.1c-1.4-1.5-2.9-3-4.4-4.5c0,0,0,0-0.1-0.1c-0.3,0.2-0.7,0.3-1,0.4c-0.7,0.2-1.3,0.3-2,0.3c-1.4,0.1-2.8-0.2-4.1-0.8c-2.2-1-3.8-2.8-4.5-5.1c-0.3-0.9-0.4-1.8-0.4-2.8c0.1-1.7,0.6-3.2,1.6-4.5c1-1.3,2.2-2.2,3.7-2.8c0.7-0.3,1.3-0.4,2-0.5c0.3,0,1-0.1,1-0.1C59.4,50,59.5,50,59.5,50z M53.9,58.3c0,0.3,0,0.7,0.1,1c0.3,1.3,1,2.4,2.1,3.2c1.2,0.9,2.7,1.2,4.2,1c0.7-0.1,1.4-0.3,2-0.7c1.6-0.9,2.5-2.3,2.7-4.2c0.1-0.6,0-1.2-0.2-1.8c-0.4-1.5-1.3-2.6-2.7-3.4c-1.1-0.6-2.4-0.7-3.6-0.5c-1,0.2-1.9,0.6-2.7,1.2C54.5,55.3,53.9,56.7,53.9,58.3z"/>
                    </svg>
                </div>
                <div class="top-search2">
                    <form method="get" action="/<%- page.urls.search %>">
                        <svg viewBox="50.8 50 19.6 20.7">
                            <path d="M59.5,50c0.1,0,0.1,0,0.2,0c1.7,0,3.3,0.5,4.7,1.5c1.7,1.2,2.9,2.9,3.4,4.9C68,57.1,68,58,68,58.8c-0.1,1.6-0.6,3.1-1.6,4.4c-0.1,0.1-0.2,0.2-0.3,0.4c-0.1,0.1-0.1,0.1-0.2,0.2l0,0c1.4,1.3,2.8,2.6,4.1,3.9c0.4,0.4,0.4,1,0,1.4c-0.4,0.4-0.9,0.9-1.3,1.3c-0.3,0.3-0.9,0.4-1.2,0.1c-0.1,0-0.1-0.1-0.2-0.1c-1.4-1.5-2.9-3-4.4-4.5c0,0,0,0-0.1-0.1c-0.3,0.2-0.7,0.3-1,0.4c-0.7,0.2-1.3,0.3-2,0.3c-1.4,0.1-2.8-0.2-4.1-0.8c-2.2-1-3.8-2.8-4.5-5.1c-0.3-0.9-0.4-1.8-0.4-2.8c0.1-1.7,0.6-3.2,1.6-4.5c1-1.3,2.2-2.2,3.7-2.8c0.7-0.3,1.3-0.4,2-0.5c0.3,0,1-0.1,1-0.1C59.4,50,59.5,50,59.5,50z M53.9,58.3c0,0.3,0,0.7,0.1,1c0.3,1.3,1,2.4,2.1,3.2c1.2,0.9,2.7,1.2,4.2,1c0.7-0.1,1.4-0.3,2-0.7c1.6-0.9,2.5-2.3,2.7-4.2c0.1-0.6,0-1.2-0.2-1.8c-0.4-1.5-1.3-2.6-2.7-3.4c-1.1-0.6-2.4-0.7-3.6-0.5c-1,0.2-1.9,0.6-2.7,1.2C54.5,55.3,53.9,56.7,53.9,58.3z"/>
                        </svg>
                        <input id="story" name="q" value="<%- page.l.movieTitle %>" onblur="if(this.value=='') this.value='<%- page.l.movieTitle %>';" onfocus="if(this.value==='<%- page.l.movieTitle %>') this.value='';" type="text" data-autocomplete="desktop">
                        <input type="image" src="/themes/hodor/public/images/spacer.gif" title="<%- page.l.search %>" alt="<%- page.l.search %>">
                    </form>
                    <div class="cinemapress-autocomplete" data-autocomplete="desktop"></div>
                </div>
            </div>
        </div>
    </div>

    <% if (typeof slider === 'object' && slider.length) { %>

    <div id="owl-top" class="owl-carousel owl-theme">

        <% slider.forEach(function (movie) { %>

        <div class="item">
            <div class="item-top-slider" style="background:url(<%- movie.picture %>) top center no-repeat; background-size: cover;">
                <div class="item-top-slider1">
                    <a href="<%- movie.url %>" class="top-slider-link">
                        <svg viewBox="83.1 54.3 61.5 73.1"><polygon points="83.1,54.3 83.1,127.4 144.7,90.9"/></svg>
                    </a>
                    <div class="item-top-slider2">
                        <%= movie.title %> (<%- movie.year %>)
                        <span></span>
                    </div>
                </div>
            </div>
            <img src="/themes/default/public/desktop/img/player.png" alt="<%= movie.title %> (<%- movie.year %>)">
        </div>

        <% }); %>

    </div>

    <% } else { %>

    <div style="height: 100px"></div>

    <% } %>

</div>