<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title><%= page.title %></title>
<meta name="description" content="<%= page.description %>">

<link rel="shortcut icon" href="/themes/hodor/public/favicon.ico?v=<%- page.ver %>">
<link rel="stylesheet" type="text/css" href="/themes/hodor/public/css/all.min.css?v=<%- page.ver %>">

<%- page.codes.head %>