<!DOCTYPE html>
<html lang="<%- page.language %>">
<head>

    <% include includes/head.ejs %>

</head>
<body>

<div id="wrapper">

    <div id="header">

        <% include includes/header.ejs %>

    </div>

    <div id="container">

        <% if (typeof page.adv === 'object' && page.adv.top) { %>
        <div style="margin: 10px; text-align: center;">
            <%- page.adv.top %>
        </div>
        <% } %>

        <div class="category-block">
            <div class="category-content" style="padding: 0;">

                <div class="category_title1">

                    <div style="float: left;margin: 10px;"><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div></div>

                </div>

                <div id="cinemapress-content">
                    <div class="addcomm">
                        <h1 class="addcomm-title" style="padding-bottom: 0"><%- page.h1 %></h1>
                    </div>
                    <div class="podborki-block">

                        <% if (typeof categories === 'object' && categories.length) { %>
                        <div style="clear: both"></div>
                        <% categories.forEach(function (content) { %>
                        <div style="float:left;width:25%;">
                            <div style="margin:10px;padding:0;position:relative">
                                <div class="cinemapress-categories" style="background-image:url(<%- content.image %>);"></div>
                                <a href="<%- content.url %>" class="cinemapress-categories-title"><%= content.title %></a>
                            </div>
                        </div>
                        <% }); %>
                        <div style="clear: both"></div>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>

    <% if (page.seo) { %>

    <div class="main_footer-info" style="padding: 20px 0;">
        <div class="main_footer-info1">
            <div class="main_footer-info2">
                <%- page.seo %>
            </div>
        </div>
    </div>

    <% } %>

    <div class="clear"></div>

</div>

<div id="footer">

    <% include includes/footer.ejs %>

</div>

</body>
</html>