<!doctype html>
<html lang="<%- page.language %>"
      prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">
<head>

    <%- include('includes/head.ejs'); -%>

</head>
<body>

<% if (typeof page.adv === 'object' && page.adv.brand) { %>
    <%- page.adv.brand %>
<% } %>

<div id="wrapper">

    <div id="header">

        <%- include('includes/header.ejs'); -%>

    </div>

    <div id="container">

        <% if (typeof page.adv === 'object' && page.adv.top) { %>
            <div style="margin: 10px; text-align: center;">
                <%- page.adv.top %>
            </div>
        <% } %>

        <div class="fullstory-content">
            <div id="cinemapress-content">
                <div class="full">
                    <div class="fullstory-drops">

                        <a href="/"><%- page.l.home %></a>
                        <% if (movie.genre_url) { %> - <%- movie.genre_url %>
                        <% } else { %> - <%- movie.year_url %>
                        <% } %>
                        - <a href="<%- movie.url %>"><%= movie.title %></a> - <%- page.l.download %>

                    </div>
                    <div id="left">
                        <%- include('includes/left.ejs'); -%>
                    </div>
                    <div id="right" class="story-video">
                        <div class="title-date-story">
                            <div class="full-kino-title">
                                <h1><%- page.h1 %></h1>
                            </div>
                            <div class="full-kino-date">
                                <%- movie.premiere %>
                            </div>
                            <% if (page.seo) { %>
                                <div class="full-kino-story disable_select">
                                    <%- page.seo %>
                                </div>
                            <% } %>
                        </div>

                        <div class="full-right-video1 episodesListBlock" style="display: none;">
                            <h3><%= movie.title %> <%- page.l.episodes %></h3>
                            <div id="episodesList" data-id="<%- movie.kp_id %>"></div>
                        </div>

                        <% if (typeof page.adv === 'object' && page.adv.over) { %>
                            <div class="full-right-video1" style="text-align: center;">
                                <%- page.adv.over %>
                            </div>
                        <% } %>

                        <div class="section">
                            <ul class="tabss">
                                <li class="current"><%- page.l.download %></li>
                                <% if (page.urls.movies.trailer) { %>
                                    <li style="float: right;"><a
                                                href="<%- movie.url %>/<%- page.urls.movies.trailer %>"><%- page.l.trailer %></a>
                                    </li>
                                <% } %>
                                <% if (page.urls.movies.online) { %>
                                    <li style="float: right;"><a
                                                href="<%- movie.url %>/<%- page.urls.movies.online %>"><%- page.l.online %></a>
                                    </li>
                                <% } %>
                            </ul>
                            <div class="box visible">
                                <% if (page.player) { %>
                                    <%- page.player %>
                                <% } %>
                            </div>
                        </div>

                        <% if (typeof page.adv === 'object' && page.adv.under) { %>
                            <div class="full-right-video1" style="text-align: center;">
                                <%- page.adv.under %>
                            </div>
                        <% } %>

                        <% if (movie.pictures.length) { %>
                            <div class="full-screen" id="lightgallery">
                                <% movie.pictures.forEach(function (picture) { %>
                                    <% var ahref = page.urls.movies.picture
                                            ? movie.url + '/' + page.urls.movies.picture
                                            : picture.picture_big %>
                                    <a href="<%- ahref %>"><img src="<%- picture.picture_min %>"
                                                                alt="<%= movie.title %>"></a>
                                <% }); %>
                            </div>
                        <% } %>
                        <% if (!page.urls.movies.picture) { %>
                            <link href="/themes/default/public/desktop/css/lightgallery.min.css?v=<%- page.ver %>" rel="stylesheet">
                            <script src="/themes/default/public/desktop/js/lightgallery.min.js?v=<%- page.ver %>"></script>
                            <script>lightGallery(document.getElementById('lightgallery'));</script>
                        <% } %>

                        <% if (typeof contents === 'object' && contents.length) { %>
                            <% contents.forEach(function (content) { %>
                                <div style="float: left; width: 50%;">
                                    <div style="margin: 0; padding: 10px">
                                        <a href="<%- content.url %>" class="cinemapress-news"
                                           style="background-image:url('<%- content.image %>');">
                                            <div class="cinemapress-news-title">
                                                <%= content.title %>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            <% }); %>
                            <% if (contents.length % 2) { %>
                                <div style="float: left; width: 50%; height: 225px;"></div><% } %>
                        <% } %>

                        <% if (typeof movies === 'object') {
                                for (var type in movies) {
                        if (movies.hasOwnProperty(type) && movies[type].length) {
                        movies[type].forEach(function (category) { %>
                            <div class="main-sliders-top1">
                                <div class="main-sliders-top-title">
                                    <%- category.name %>
                                    <div class="randomMovieRelated">
                                        <div class="cinemapress-random-related"
                                             onclick="window.location.href='<%- (category.url && category.url.indexOf('?') + 1 ? category.url + '&random=' : category.url + '?random=') %><%- Math.random() %>'"
                                             title="<%= page.l.random %>">
                                            <img src="/themes/<%- page.theme %>/public/images/dice.svg"
                                                 alt="<%= page.l.random %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fullstory-content-slider">
                                <div class="full-related" style="display: none;">
                                    <% if (typeof category === 'object' && category.movies && category.movies.length) {
                                    category.movies.forEach(function (movie) { %>
                                        <div class="item">
                                            <a href="<%- movie.url %>">
                                                <img src="<%- movie.poster %>"
                                                     alt="<%= movie.title %> (<%- movie.year %>)">
                                                <div class="fullstory-slider-title"><%= movie.title %>
                                                    (<%- movie.year %>)
                                                </div>
                                            </a>
                                        </div>
                                    <% }); } %>
                                </div>
                            </div>
                        <% }); } } } %>

                        <% if (page.comments) { %>
                            <%- page.comments %>
                        <% } else { %>
                            <div id="cinemapress-comments">
                                <h3 class="cinemapress-comment-h3">
                                    <%- page.l.comments %>
                                    <span class="cinemapress-comment-count cinemapress-comment-bg-color"><%- comments && comments.count || '0' %></span>
                                </h3>
                                <% if (typeof comments === 'object' && typeof comments.config === 'object') { %>
                                    <% if (comments.config.star_rating) { %>
                                        <div class="cinemapress-comment-star">
                                            <div class="cinemapress-comment-star-down" data-comment-star="1"></div>
                                            <div class="cinemapress-comment-star-award" data-comment-star="3"></div>
                                            <div class="cinemapress-comment-star-up" data-comment-star="2"></div>
                                        </div>
                                    <% } %>
                                    <div class="cinemapress-comment-form">
                                        <% if (comments.config.bb_codes) { %>
                                            <div class="cinemapress-comment-form-bb">
                                                <span class="cinemapress-comment-bg cinemapress-comment-form-bb-b"
                                                      data-bb-code="b"><%- page.l.bold.toLowerCase() %></span>
                                                <span class="cinemapress-comment-bg cinemapress-comment-form-bb-i"
                                                      data-bb-code="i"><%- page.l.italic.toLowerCase() %></span>
                                                <span class="cinemapress-comment-bg cinemapress-comment-form-bb-spoiler"
                                                      data-bb-code="spoiler">👻 <%- page.l.spoiler.toLowerCase() %></span>
                                                <span class="cinemapress-comment-bg cinemapress-comment-form-bb-search"
                                                      data-bb-code="search">🔍 <%- page.l.search.toLowerCase() %></span>
                                                <input class="cinemapress-comment-bg cinemapress-comment-form-anonymous"
                                                       name="comment_anonymous" type="text"
                                                       placeholder="<%- page.l.username %>">
                                            </div>
                                        <% } %>
                                        <div>
                                            <div class="cinemapress-comment-textarea-div">
                                                <textarea name="comment_text"
                                                          class="cinemapress-comment-bg cinemapress-comment-textarea"
                                                          placeholder="<%- page.l.comment %>" autocomplete="off"
                                                          autocapitalize="off" spellcheck="false"></textarea>
                                                <div class="cinemapress-comment-form-bg"></div>
                                                <div class="cinemapress-comment-button-bg hover-off"
                                                     data-comment-type="submit">
                                                    <span class="cinemapress-comment-button-text"></span>
                                                </div>
                                            </div>
                                            <% if (comments.config.question) { %>
                                                <div class="cinemapress-comment-bg cinemapress-comment-question"
                                                     style="display: none">
                                                    <div class="cinemapress-comment-question-text"><%- comments.config.question %></div>
                                                    <div class="cinemapress-comment-question-answer">
                                                        <% if (comments.config.question_yes) { %>
                                                            <span class="cinemapress-comment-question-answer-yes"><%- page.l.yes %></span>
                                                        <% } %>
                                                        <% if (comments.config.question_not) { %>
                                                            <span class="cinemapress-comment-question-answer-not"><%- page.l.not %></span>
                                                        <% } %>
                                                    </div>
                                                    <% if (comments.config.question_yes) { %>
                                                        <div class="cinemapress-comment-question-text-yes"
                                                             style="display: none">
                                                            <%- comments.config.question_yes %>
                                                        </div>
                                                    <% } %>
                                                    <% if (comments.config.question_not) { %>
                                                        <div class="cinemapress-comment-question-text-not"
                                                             style="display: none">
                                                            <%- comments.config.question_not %>
                                                        </div>
                                                    <% } %>
                                                    <div class="cinemapress-comment-question-bg"></div>
                                                    <% if (comments.config.question_poster) { %>
                                                        <div class="cinemapress-comment-question-bg-poster"
                                                             style="background-image:url('<%- comments.config.question_poster %>')"></div>
                                                    <% } %>
                                                </div>
                                            <% } %>
                                        </div>
                                        <div style="color:#999;font-size:8px;text-align:right;opacity:.2">This site is
                                            protected by reCAPTCHA and the Google <a
                                                    href="https://policies.google.com/privacy"
                                                    style="color:#999;font-size:8px" target="_blank">Privacy Policy</a>
                                            and <a href="https://policies.google.com/terms"
                                                   style="color:#999;font-size:8px" target="_blank">Terms of Service</a>
                                            apply.
                                        </div>
                                    </div>
                                    <%- comments.indexer ? comments.indexer : '' %>
                                    <% if (comments.list && comments.list.length) { %>
                                        <% comments.list.forEach(function (comment) { %>
                                            <div class="cinemapress-comment" id="c<%- comment.id %>">
                                                <div class="cinemapress-comment-head">
                                                    <div class="cinemapress-comment-head-avatar">
                                                        <img src="<%- comment.avatar %>" alt="<%= comment.user %>">
                                                    </div>
                                                    <% if (comments.config.star_rating) { %>
                                                        <% if (comment.star === 1) { %>
                                                            <div class="cinemapress-comment-head-star">
                                                                <div class="cinemapress-comment-star-down"></div>
                                                            </div>
                                                        <% } else if (comment.star === 2) { %>
                                                            <div class="cinemapress-comment-head-star">
                                                                <div class="cinemapress-comment-star-up"></div>
                                                            </div>
                                                        <% } else if (comment.star === 3) { %>
                                                            <div class="cinemapress-comment-head-star">
                                                                <div class="cinemapress-comment-star-award"></div>
                                                            </div>
                                                        <% } %>
                                                    <% } %>
                                                    <div class="cinemapress-comment-head-meta">
                                                        <div class="cinemapress-comment-head-meta-vote">
                                                        <span class="cinemapress-comment-like" data-comment-type="like"
                                                              data-comment-id="<%- comment.id %>"
                                                              title="<%= page.l.like %>">
                                                            <span class="cinemapress-comment-like-icon"></span>
                                                            <span class="cinemapress-comment-like-number"><%- comment.like %></span>
                                                        </span>
                                                            <span class="cinemapress-comment-dislike"
                                                                  data-comment-type="dislike"
                                                                  data-comment-id="<%- comment.id %>"
                                                                  title="<%= page.l.dislike %>">
                                                            <span class="cinemapress-comment-dislike-number"><%- comment.dislike %></span>
                                                            <span class="cinemapress-comment-dislike-icon"></span>
                                                        </span>
                                                            <span class="cinemapress-comment-reply"
                                                                  data-reply-id="<%- comment.id %>" data-bb-code="b"
                                                                  data-bb-value="<%- comment.user %>"
                                                                  title="<%= page.l.reply %>">
                                                            <span class="cinemapress-comment-reply-icon"></span>
                                                        </span>
                                                        </div>
                                                        <div class="cinemapress-comment-user"
                                                             data-comment-id="<%- comment.id %>">
                                                            <div class="cinemapress-comment-user-name">
                                                                <%- comment.user %>
                                                            </div>
                                                            <div class="cinemapress-comment-user-said">
                                                                <%- page.l.said %>
                                                            </div>
                                                            <div class="cinemapress-comment-user-date">
                                                                <%- comment.date %>
                                                            </div>
                                                            <div class="cinemapress-comment-user-link">
                                                                <a href="<%- comment.url %>#c<%- comment.id %>">#</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cinemapress-comment-bg cinemapress-comment-radius">
                                                    <%- comment.comment %>
                                                </div>
                                                <% if (comment.admin) { %>
                                                    <div class="cinemapress-comment-admin">
                                                        <div class="cinemapress-comment-bg cinemapress-comment-admin-text">
                                                            <%- comment.admin %>
                                                        </div>
                                                        <div class="cinemapress-comment-admin-bg"></div>
                                                    </div>
                                                <% } %>
                                            </div>
                                        <% }); %>
                                    <% } %>
                                <% } %>
                                <div class="cinemapress-comment-arrow">
                                    <% if (comments && comments.prev) { %>
                                        <div class="cinemapress-prev-comments"
                                             onclick="window.location.href='?page=<%- comments.prev %>#cinemapress-comments'"></div>
                                    <% } %>
                                    <% if (comments && comments.next) { %>
                                        <div class="cinemapress-next-comments"
                                             onclick="window.location.href='?page=<%- comments.next %>#cinemapress-comments'"></div>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>

</div>

<div id="footer">

    <%- include('includes/footer.ejs'); -%>

</div>

</body>
</html>