<!doctype html>
<html lang="<%- page.language %>" prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">
<head>

    <% include includes/head.ejs %>

</head>
<body>

<div id="wrapper">

    <div id="header">

        <% include includes/header.ejs %>

    </div>

    <div id="container">

        <% if (typeof page.adv === 'object' && page.adv.top) { %>
        <div style="margin: 10px; text-align: center;">
            <%- page.adv.top %>
        </div>
        <% } %>

        <div class="fullstory-content">
            <div id="cinemapress-content">
                <div class="full">
                    <div class="fullstory-drops">

                        <a href="/"><%- page.l.home %></a><% if (movie.genre_url) { %> - <%- movie.genre_url %><% } else { %> - <%- movie.year_url %><% } %> - <a href="<%- movie.url %>"><%= movie.title %></a> - <%- page.l.online %>

                        <div style="float: right;color: #FFFFFF;"><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div></div>

                    </div>
                    <div id="left">
                        <div class="full-left">
                            <div class="full-poster">
                                <div class="cinemapress-poster">
                                    <img src="<%- movie.poster %>" alt="<%= page.title %>" title="<%= page.title %>" data-cinemapress-poster="<%- movie.poster %>">
                                    <% if (movie.quality) { %>
                                    <div class="cinemapress-quality">
                                        <span class="cinemapress-svg-quality"></span>
                                        <%- movie.quality %>
                                    </div>
                                    <% } %>
                                    <% if (movie.translate) { %>
                                    <div class="cinemapress-translate">
                                        <span class="cinemapress-svg-translate"></span>
                                        <%- movie.translate %>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="full-kino-info">
                                <% if (movie.kp_vote) { %>
                                <div><span><%- page.l.kp %>:</span> <%- movie.kp_rating/10 %> (<%- movie.kp_vote %>)</div>
                                <% } %>
                                <% if (movie.imdb_vote) { %>
                                <div><span><%- page.l.imdb %>:</span> <%- movie.imdb_rating/10 %> (<%- movie.imdb_vote %>)</div>
                                <% } %>
                                <% if (movie.countries_url) { %>
                                <div><span><%- page.l.countries %>:</span> <%- movie.countries_url %></div>
                                <% } %>
                                <% if (movie.year_url) { %>
                                <div><span><%- page.l.year %>:</span> <%- movie.year_url %></div>
                                <% } %>
                                <% if (movie.genres_url) { %>
                                <div><span><%- page.l.genres %>:</span> <%- movie.genres_url %></div>
                                <% } %>
                                <% if (movie.directors_url) { %>
                                <div><span><%- page.l.directors %>:</span> <%- movie.directors_url %></div>
                                <% } %>
                            </div>
                            <% if (movie.actors_url) { %>
                            <div class="full-kino-info1"><span><%- page.l.actors %>:</span> <%- movie.actors_url %></div>
                            <% } %>
                        </div>

                        <a class="full_btn_podborka" href="/<%- page.urls.content %>?tag=<%- page.l.collections %>"><%- page.l.collections %></a>
                        <div class="best-film-block">
                            <ul class="best-film-menu">
                                <% page.urls.years.slice(0,3).forEach(function(year) { %>
                                <li><a href="<%- year.url %>"><%- page.l.top %> <%- year.title %></a></li>
                                <% }); %>
                            </ul>
                            <div class="best-icon"></div>
                        </div>

                        <% if (typeof soon === 'object' && soon.length) { %>
                        <div class="full-title-scoro-block">
                            <%- page.l.soon %>
                        </div>
                        <div class="fullstory-content-slider-scoro">
                            <div id="full-slider-scoro">
                                <% soon.forEach(function (movie) { %>
                                <div class="item-scoro">
                                    <a href="<%- movie.url %>">
                                        <img src="<%- movie.poster %>" alt="<%= movie.title %> (<%- movie.year %>)">
                                        <div class="fullstory-slider-title-scoro"><%= movie.title %> (<%- movie.year %>)</div>
                                    </a>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                        <% } %>

                        <% if (typeof page.adv === 'object' && page.adv.left) { %>
                        <div style="margin: 10px; text-align: center;">
                            <%- page.adv.left %>
                        </div>
                        <% } %>

                        <% if (typeof recent === 'object' && recent.length) { %>
                        <% recent.forEach(function (comment) { %>
                        <div style="margin: 3px auto;">
                            <div class="cinemapress-recent">
                                <div class="cinemapress-recent-head">
                                    <% if (comment.avatar) { %>
                                    <div class="cinemapress-recent-head-avatar">
                                        <img src="<%- comment.avatar %>" alt="<%- comment.user %>">
                                    </div>
                                    <% } %>
                                    <div class="cinemapress-recent-head-meta">
                                        <div>
                                            <a href="<%- comment.url %>"><%= comment.title %></a>
                                        </div>
                                        <div>
                                            <span>
                                                <%- comment.user %>
                                            </span><span>
                                                <%- page.l.said %>
                                            </span><span>
                                                <%- comment.date %>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cinemapress-recent-comment">
                                    <%- comment.comment %>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                        <% } %>

                    </div>
                    <div id="right" class="story-video">
                        <div class="title-date-story">
                            <div class="full-kino-title">
                                <h1><%- page.h1 %></h1>
                            </div>
                            <div class="full-kino-date">
                                <%- movie.premiere %>
                            </div>
                            <% if (page.seo) { %>
                            <div class="full-kino-story disable_select">
                                <%- page.seo %>
                            </div>
                            <% } %>
                        </div>

                        <div class="full-right-video1 episodesListBlock" style="display: none;">
                            <h3><%= movie.title %> <%- page.l.episodes %></h3>
                            <div id="episodesList" data-id="<%- movie.kp_id %>"></div>
                        </div>

                        <div class="full-right-video1 watchLaterBlock" style="display: none;">
                            <span class="full-right-time"><span id="watchLater"><%- page.l.later %></span></span>
                        </div>

                        <% if (typeof page.adv === 'object' && page.adv.over) { %>
                        <div class="full-right-video1" style="text-align: center;">
                            <%- page.adv.over %>
                        </div>
                        <% } %>

                        <div class="section">
                            <ul class="tabss">
                                <li class="current"><%- page.l.online %></li>
                                <% if (page.urls.movies.trailer) { %>
                                <li style="float: right;"><a href="<%- movie.url %>/<%- page.urls.movies.trailer %>"><%- page.l.trailer %></a></li>
                                <% } %>
                            </ul>
                            <div id="cinemapress-player" class="box visible">
                                <% if (page.player) { %>
                                <%- page.player %>
                                <% } %>
                            </div>
                        </div>

                        <% if (typeof page.adv === 'object' && page.adv.under) { %>
                        <div class="full-right-video1" style="text-align: center;">
                            <%- page.adv.under %>
                        </div>
                        <% } %>

                        <% if (movie.pictures.length) { %>
                        <div class="full-screen" id="lightgallery">
                            <% movie.pictures.forEach(function (picture) { %>
                            <% var ahref = page.urls.movies.picture
                                    ? movie.url + '/' + page.urls.movies.picture
                                    : picture.picture_big %>
                            <a href="<%- ahref %>"><img src="<%- picture.picture_min %>" alt="<%= movie.title %>"></a>
                            <% }); %>
                        </div>
                        <% } %>
                        <% if (!page.urls.movies.picture) { %>
                        <link href="/themes/default/public/desktop/css/lightgallery.min.css" rel="stylesheet">
                        <script src="/themes/default/public/desktop/js/lightgallery.min.js"></script>
                        <script>lightGallery(document.getElementById('lightgallery'));</script>
                        <% } %>

                        <% if (page.urls.movies.download) { %>
                        <div class="full-torrent">
                            <div class="full-torrent-title">
                                <a href="<%- movie.url %>/<%- page.urls.movies.download %>">
                                    <svg viewBox="36 2.2 133.2 133.4">
                                        <polygon points="169.2,106 154.4,106 154.4,120.8 50.8,120.8 50.8,106 36,106 36,135.6 169.2,135.6 "/>
                                        <path d="M80.4,2.2v29.6h-37l59.2,74l59.2-74h-37V2.2H80.4z M131,46.6l-28.4,35.6L74.2,46.6h21V17H110v29.6H131z"/>
                                    </svg>
                                    <%= movie.title %> (<%- movie.year %>) <%- page.l.download %>
                                </a>
                            </div>
                        </div>
                        <% } %>

                        <% if (typeof contents === 'object' && contents.length) { %>
                        <% contents.forEach(function (content) { %>
                        <div style="float: left; width: 50%;">
                            <div style="margin: 0; padding: 10px">
                                <a href="<%- content.url %>" class="cinemapress-news" style="background-image:url(<%- content.image %>);">
                                    <div class="cinemapress-news-title">
                                        <%= content.title %>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <% }); %>
                        <% if (contents.length%2) { %><div style="float: left; width: 50%; height: 225px;"></div><% } %>
                        <% } %>

                        <% if (typeof movies === 'object') {
                                for (var type in movies) {
                        if (movies.hasOwnProperty(type) && movies[type].length) {
                        movies[type].forEach(function (category) { %>
                        <div class="main-sliders-top1">
                            <div class="main-sliders-top-title">
                                <%- category.name %>
                                <div class="randomMovieRelated">
                                    <div class="cinemapress-random-related"
                                         onclick="window.location.href='<%- category.url %>?random'"
                                         title="<%- page.l.random %>">
                                        <img src="/themes/hodor/public/images/dice.svg" alt="<%- page.l.random %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fullstory-content-slider">
                            <div class="full-related" style="display: none;">
                                <% if (category.movies.length) {
                                category.movies.forEach(function (movie) { %>
                                <div class="item">
                                    <a href="<%- movie.url %>">
                                        <img src="<%- movie.poster %>" alt="<%= movie.title %> (<%- movie.year %>)">
                                        <div class="fullstory-slider-title"><%= movie.title %> (<%- movie.year %>)</div>
                                    </a>
                                </div>
                                <% }); } %>
                            </div>
                        </div>
                        <% }); } } } %>

                        <% if (page.comments) { %>
                        <%- page.comments %>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>

</div>

<div id="footer">

    <% include includes/footer.ejs %>

</div>

</body>
</html>